In [7]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

In [8]:
data = pd.read_csv('data.csv')
data

        Name  age
0      Krish   31
1  Sudhanshu   30
2      Sunny   29

In [11]:
spark = SparkSession.builder.appName("Practice").getOrCreate()
spark

In [16]:
df_pyspark = spark.read.option("header", "true").csv("data.csv")
df_pyspark.show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

23/11/02 12:34:25 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.