In [44]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [45]:
df = spark.read.csv('data.csv', header=True, inferSchema=True)
df.show()
df.printSchema()

+---------+----+----------+-------+
|     Name| Age|Experience| Salary|
+---------+----+----------+-------+
|    Krish|  31|        10|6551872|
|Sudhanshu|  30|         4| 412234|
|    Sunny|  29|         8|8535960|
|     Sofa|NULL|      NULL|8535960|
|     NULL|  29|         8|8535960|
|    Nikky|  29|         8|   NULL|
|     NULL|NULL|      NULL|   NULL|
+---------+----+----------+-------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [46]:
df.na.drop(thresh=3).show()

+---------+---+----------+-------+
|     Name|Age|Experience| Salary|
+---------+---+----------+-------+
|    Krish| 31|        10|6551872|
|Sudhanshu| 30|         4| 412234|
|    Sunny| 29|         8|8535960|
|     NULL| 29|         8|8535960|
|    Nikky| 29|         8|   NULL|
+---------+---+----------+-------+

In [47]:
df.na.drop(thresh=1, subset=['Salary']).show()

+---------+----+----------+-------+
|     Name| Age|Experience| Salary|
+---------+----+----------+-------+
|    Krish|  31|        10|6551872|
|Sudhanshu|  30|         4| 412234|
|    Sunny|  29|         8|8535960|
|     Sofa|NULL|      NULL|8535960|
|     NULL|  29|         8|8535960|
+---------+----+----------+-------+

In [56]:
df.show()
df.na.fill(0).show()

+---------+----+----------+-------+
|     Name| Age|Experience| Salary|
+---------+----+----------+-------+
|    Krish|  31|        10|6551872|
|Sudhanshu|  30|         4| 412234|
|    Sunny|  29|         8|8535960|
|     Sofa|NULL|      NULL|8535960|
|     NULL|  29|         8|8535960|
|    Nikky|  29|         8|   NULL|
|     NULL|NULL|      NULL|   NULL|
+---------+----+----------+-------+

+---------+---+----------+-------+
|     Name|Age|Experience| Salary|
+---------+---+----------+-------+
|    Krish| 31|        10|6551872|
|Sudhanshu| 30|         4| 412234|
|    Sunny| 29|         8|8535960|
|     Sofa|  0|         0|8535960|
|     NULL| 29|         8|8535960|
|    Nikky| 29|         8|      0|
|     NULL|  0|         0|      0|
+---------+---+----------+-------+

In [62]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
).setStrategy('mean')

imputer.fit(df).transform(df).show()

+---------+----+----------+-------+-----------+------------------+--------------+
|     Name| Age|Experience| Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+-------+-----------+------------------+--------------+
|    Krish|  31|        10|6551872|         31|                10|       6551872|
|Sudhanshu|  30|         4| 412234|         30|                 4|        412234|
|    Sunny|  29|         8|8535960|         29|                 8|       8535960|
|     Sofa|NULL|      NULL|8535960|         29|                 7|       8535960|
|     NULL|  29|         8|8535960|         29|                 8|       8535960|
|    Nikky|  29|         8|   NULL|         29|                 8|       6514397|
|     NULL|NULL|      NULL|   NULL|         29|                 7|       6514397|
+---------+----+----------+-------+-----------+------------------+--------------+