In [28]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Agg").getOrCreate()
df = spark.read.csv('data.csv', header=True, inferSchema=True).na.drop(thresh=3)
df.show()

+---------+----+----------+------+----------+
|     Name| Age|Experience|Salary|Department|
+---------+----+----------+------+----------+
|    Krish|  31|        10| 65518|       IOT|
|Sudhanshu|  30|         4|  4122|       IOT|
|    Sunny|  29|         8| 15359|       IOT|
|     Sofa|NULL|      NULL| 25359|  Big Data|
|     NULL|  29|         8| 35359|   Web Dev|
|    Nikky|  29|         8|  NULL|  Big Data|
+---------+----+----------+------+----------+

In [29]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Department: string (nullable = true)

In [30]:
df.groupBy("Department").sum().show()

+----------+--------+---------------+-----------+
|Department|sum(Age)|sum(Experience)|sum(Salary)|
+----------+--------+---------------+-----------+
|   Web Dev|      29|              8|      35359|
|       IOT|      90|             22|      84999|
|  Big Data|      29|              8|      25359|
+----------+--------+---------------+-----------+

In [32]:
df.groupBy("Department").max().show()

+----------+--------+---------------+-----------+
|Department|max(Age)|max(Experience)|max(Salary)|
+----------+--------+---------------+-----------+
|   Web Dev|      29|              8|      35359|
|       IOT|      31|             10|      65518|
|  Big Data|      29|              8|      25359|
+----------+--------+---------------+-----------+