In [15]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [16]:
df = spark.read.csv('data.csv', header=True, inferSchema=True)

In [17]:
df.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 65518|
|Sudhanshu|  30|         4|  4122|
|    Sunny|  29|         8| 15359|
|     Sofa|NULL|      NULL| 25359|
|     NULL|  29|         8| 35359|
|    Nikky|  29|         8|  NULL|
|     NULL|NULL|      NULL|  NULL|
+---------+----+----------+------+

In [23]:
df.filter("Salary<=30000").select(["Name",'Age']).show()

+---------+----+
|     Name| Age|
+---------+----+
|Sudhanshu|  30|
|    Sunny|  29|
|     Sofa|NULL|
+---------+----+

In [26]:
df.filter((df['Salary'] <= 30000) & (df['Salary'] >= 10000)).show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Sunny|  29|         8| 15359|
| Sofa|NULL|      NULL| 25359|
+-----+----+----------+------+