In [22]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame").getOrCreate()
spark

In [23]:
df_pyspark = spark.read.option("header", "true").csv("data.csv", inferSchema=True)
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         4|
|    Sunny| 29|         8|
+---------+---+----------+

In [24]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [25]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [26]:
df = df_pyspark
df.head(3)

[Row(Name='Krish', Age=31, Experience=10),
 Row(Name='Sudhanshu', Age=30, Experience=4),
 Row(Name='Sunny', Age=29, Experience=8)]

In [28]:
df.select(["Name", "Experience"]).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         4|
|    Sunny|         8|
+---------+----------+

In [29]:
df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [30]:
df.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         4|
|    Sunny| 29|         8|
+---------+---+----------+

In [31]:
df.describe().show()

+-------+-----+----+------------------+
|summary| Name| Age|        Experience|
+-------+-----+----+------------------+
|  count|    3|   3|                 3|
|   mean| NULL|30.0| 7.333333333333333|
| stddev| NULL| 1.0|3.0550504633038935|
|    min|Krish|  29|                 4|
|    max|Sunny|  31|                10|
+-------+-----+----+------------------+

In [39]:
df = df.withColumn("Experience After 2 years", df['Experience'] + 2)
df.show()

+---------+---+----------+------------------------+
|     Name|Age|Experience|Experience After 2 years|
+---------+---+----------+------------------------+
|    Krish| 31|        10|                      12|
|Sudhanshu| 30|         4|                       6|
|    Sunny| 29|         8|                      10|
+---------+---+----------+------------------------+

In [41]:
df = df.drop("Experience")
df.show()

+---------+---+------------------------+
|     Name|Age|Experience After 2 years|
+---------+---+------------------------+
|    Krish| 31|                      12|
|Sudhanshu| 30|                       6|
|    Sunny| 29|                      10|
+---------+---+------------------------+

In [43]:
df = df.withColumnRenamed("Name", "New Name")
df.show()

+---------+---+------------------------+
| New Name|Age|Experience After 2 years|
+---------+---+------------------------+
|    Krish| 31|                      12|
|Sudhanshu| 30|                       6|
|    Sunny| 29|                      10|
+---------+---+------------------------+